   torch
   torchvision
   numpy
   pandas
   scikit-learn
   scikit-image
   opencv-python
   albumentations
   matplotlib
   seaborn
   Pillow
   tqdm
   flask
   fastapi
   uvicorn
   streamlit
   grad-cam
   mlflow
   pyyaml
